/* Reset */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
button {
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
button {
  font-family: 'Inter', sans-serif;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  line-height: 0;
  background: transparent;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}
/* // Reset */

/* Common */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.inner {
  --width: calc(100% - 64px);
  max-width: min(1120px, var(--width));
  margin: 0 auto;
  padding: 80px 0;
}

.btn {
  --height: 46px;
  display: inline-block;
  min-width: 183px;
  height: var(--height);
  border-radius: 8px;
  background-color: #141718;
  font-weight: 500;
  text-align: center;
  color: #fff;
  letter-spacing: -0.025em;
  line-height: var(--height);
}

.btn:hover {
  opacity: 0.8;
}

.icon {
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-image: url(../images/sp_icons.png);
  background-repeat: no-repeat;
  background-size: 340px 28px;
  vertical-align: top;
  cursor: pointer;
}

.icon_search {
  background-position: -2px -2px;
}

.icon_user {
  background-position: -28px -2px;
}

.icon_cart {
  background-position: -54px -2px;
}

.icon_menu {
  background-position: -80px -2px;
}

.icon_times {
  background-position: -210px -2px;
}

.icon_liked {
  background-position: -184px -2px;
}

.icon_ig {
  background-position: -132px -2px;
}

.icon_fb {
  background-position: -106px -2px;
}

.icon_yt {
  background-position: -158px -2px;
}

.icon_arrow-right {
  width: 20px;
  height: 20px;
  background-position: -264px -4px;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  line-height: 100%;
}

.logo > .dot {
  color: #6c7275;
}
.social_list {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}
/* // Common */

/* Styles */
/* Header styles*/
.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.header_area {
  --width: calc(100% - 64px);
  display: flex;
  align-items: center;
  max-width: min(1120px, var(--width));
  margin: 0 auto;
  padding: 14px 0;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav_list {
  display: flex;
}

.nav_link {
  display: inline-block;
  padding: 4px 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  color: #6c7275;
  transition: color 0.3s ease-in-out;
}

.nav_link:hover {
  color: #141718;
}

.header_area .action_wrap {
  display: flex;
  align-items: center;
}

.header_area .quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #141718;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  line-height: 10px;
  cursor: default;
}

.header .overlay {
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #00000052;
  opacity: 0;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.header .overlay.is_show {
  visibility: visible;
  opacity: 1;
}

.header_row,
.user_wrap {
  display: flex;
  align-items: center;
}

.header .btn_user,
.header .btn_cart {
  margin-left: 16px;
}
/* // Header styles */

/* Blog */
.blog_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog .heading {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.blog .more {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  position: relative;
  font-weight: 500;
  color: #141718;
  line-height: 1.75;
  letter-spacing: -0.025em;
}

.blog .more::after {
  position: absolute;
  bottom: 0;
  width: var(--after-width, 0);
  height: 1px;
  background-color: #141718;
  transition: width 0.25s ease;
  content: '';
}

.blog_list {
  display: flex;
  margin-top: 40px;
}

.blog_item {
  max-width: calc((100% - 50px) / 3);
}

.blog_item + .blog_item {
  margin-left: 25px;
}

.blog_item .img_wrap {
  overflow: hidden;
  max-width: 100%;
}

.blog_item .img_wrap:hover .thumb {
  scale: 1.1;
}

.blog_item .thumb {
  max-width: inherit;
  object-fit: cover;
  vertical-align: bottom;
  transition: scale 0.25s ease;
}
.blog .desc {
  margin: 24px 0 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}

/* Footer styles */
.footer {
  background-color: #000;
  color: #fff;
}
.footer .inner {
  padding-bottom: 32px;
}
.footer_area {
  display: flex;
  padding-bottom: 64px;
  border-bottom: 1px solid #6c7275;
}
.footer .logo {
  color: #fff;
}

.footer_area .desc {
  width: 49%;
  margin-top: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}

.footer_area .social_list {
  margin-top: 32px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(779%) hue-rotate(189deg) brightness(113%) contrast(99%);
}

.footer_area .col:first-child {
  flex: 1;
}

.footer_area .col:not(:first-child) {
  width: 14.286%;
}

.footer_area .col + .col {
  margin-left: 32px;
}

.footer_area .title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.footer_list {
  margin-top: 40px;
}

.footer_list.always_show {
  overflow: visible;
  max-height: 250px;
  transition: none;
}

.footer_link,
.footer_address {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.5714;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_list > li {
  margin-top: 24px;
}

.copyright_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.copyright_box {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
}

.copyright {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #6c7275;
  font-family: 'Poppins', sans-serif;
  line-height: 1.666667;
}

.copyright_text-wrap {
  margin-top: 3px;
}

.copyright_text {
  color: #6c7275;
}

.copyright_text + .copyright_text {
  margin-left: 16px;
}

.payment_wrap {
  display: flex;
  gap: 8px;
}

.payment {
  display: inline-block;
  overflow: hidden;
  width: 48px;
  height: 32px;
  background-image: url(../images/sp_payments.png);
  background-repeat: no-repeat;
  background-size: 302px 36px;
  vertical-align: top;
}

.payment_1 {
  background-position: -2px -2px;
}

.payment_2 {
  background-position: -52px -2px;
}

.payment_3 {
  background-position: -102px -2px;
}

.payment_4 {
  background-position: -152px -2px;
}

.payment_5 {
  background-position: -202px -2px;
}
.payment_6 {
  background-position: -252px -2px;
}
