/* Reset */
* {
    box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

body,
input,
select,
textarea,
button {
    font-family: "Inter", sans-serif;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: 0;
    line-height: 0;
    background: transparent;
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    line-height: 1px !important;
    clip: rect(1px, 1px, 1px, 1px);
}
/* // Reset */

/* Common */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.inner {
    max-width: min(1120px, 100%);
    margin: 0 auto;
    padding: 80px 0;
}

.btn {
    --height: 46px;
    display: inline-block;
    min-width: 183px;
    height: var(--height);
    border-radius: 8px;
    background-color: #141718;
    font-weight: 500;
    text-align: center;
    color: #fff;
    letter-spacing: -0.025em;
    line-height: var(--height);
}

.icon {
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-image: url(../images/sp_icons.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    cursor: pointer;
}

.icon_user {
    background-position: -22px 0px;
}

.icon_cart {
    background-position: -44px 0px;
}

.icon_menu {
    background-position: -66px 0px;
}

.icon_times {
    background-position: -178px 0px;
}

.icon_liked {
    background-position: -156px 0;
}

.icon_ig {
    background-position: -112px 0;
}

.icon_fb {
    background-position: -90px 0;
}

.icon_yt {
    background-position: -134px 0;
}

.logo {
    font-family: Poppins, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
    line-height: 100%;
}

.logo > .dot {
    color: #6c7275;
}
/* // Common */

/* Styles */
.header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.header_area {
    --width: calc(100% - 64px);
    display: flex;
    align-items: center;
    max-width: min(1120px, var(--width));
    margin: 0 auto;
    padding: 14px 0;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.nav_list {
    display: flex;
}

.nav_link {
    display: inline-block;
    padding: 4px 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 24px;
    color: #6c7275;
    transition: color 0.3s ease-in-out;
}

.nav_link:hover {
    color: #141718;
}

.header_area .action_wrap {
    display: flex;
    align-items: center;
}

.header_area .quantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #141718;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    line-height: 10px;
    cursor: default;
}

.header .overlay {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: #00000052;
    opacity: 0;
    transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.header .overlay.is_show {
    visibility: visible;
    opacity: 1;
}

.header_row,
.user_wrap {
    display: flex;
    align-items: center;
}

.header .btn_user,
.header .btn_cart {
    margin-left: 16px;
}
