.pc_hide {
  display: none;
}
@media (max-width: 768px) {
  .mobile_show {
    display: block;
  }

  .mobile_hide {
    display: none;
  }

  .logo_link {
    align-items: center;
  }

  .logo_img {
    width: 70px;
  }

  .header.is_show .logo_img {
    margin-top: 5px;
  }

  .more_btn {
    font-size: 1.4rem;
    line-height: 1.714;
  }

  .header_area {
    max-width: 100%;
    padding: 8px 32px 8px 22px;
  }

  .header .menu_btn {
    padding: 10px 4px 10px 10px;
  }

  .header_row + .header_row {
    margin-top: 8px;
  }
  .header .close_btn {
    padding: 8px;
  }

  .header.is_show {
    position: fixed;
    z-index: 3;
    inset: 0 8.53333% 0 0;
    animation: moveInLeft 0.3s ease;
  }

  .header.is_show .header_area {
    display: block;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
  }

  .header.is_show .header_box {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    height: 100%;
    background-color: #fff;
  }

  .header.is_show .menu_btn {
    display: none;
  }

  .header.is_show .close_btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .header.is_show .input_wrap {
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 16px;
    padding: 0 8px 0 16px;
    border: 1px solid #6c7275;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .header.is_show .input {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 14px;
    line-height: 22px;
    outline: none;
  }

  .header.is_show .input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6c7275;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .header.is_show .nav {
    display: block;
  }

  .header.is_show .nav_list {
    flex-direction: column;
    margin-top: 1px;
  }

  .header.is_show .nav_link {
    display: block;
    position: relative;
    margin-top: 8px;
    padding: 8px 0 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
  }

  .header.is_show .header_row::after,
  .header.is_show .nav_link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e8ecef;
    content: '';
  }

  .header.is_show .action_wrap {
    flex-direction: column;
    margin-top: auto;
  }

  .header.is_show .header_row {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 8px;
    box-sizing: border-box;
  }

  .header.is_show .title {
    display: block;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    color: #6c7275;
    line-height: 32px;
    letter-spacing: -0.4px;
  }

  .header.is_show .btn_signin {
    --height: 52px;
    display: block;
    margin-top: 26.33px;
    border-radius: 6px;
    font-size: 18px;
  }

  .header.is_show .social_list {
    display: flex;
    margin-top: 13.33px;
  }
  /* // Header */

  /* Blog */
  .blog .inner {
    padding: 40px 0;
  }

  .blog .heading {
    font-size: 3.4rem;
    line-height: 1.1176;
    letter-spacing: -0.0176em;
  }

  .blog_list {
    flex-direction: column;
    row-gap: 24px;
    margin-top: 16px;
  }

  .blog_list .blog_item {
    max-width: 100%;
  }

  .blog_item + .blog_item {
    margin-left: 0;
  }

  /* Footer */
  .footer .inner {
    padding: 64px 0 24px;
  }
  .footer_area {
    flex-direction: column;
    padding-bottom: 0;
    border-bottom: none;
  }

  .footer_area .col {
    padding-bottom: 32px;
    border-bottom: 1px solid #6c7275;
  }

  .footer_area .desc {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
  }

  .footer_area .col:not(:first-child) {
    width: 100%;
  }
  .footer_area .col + .col {
    margin: 32px 0 0;
  }

  .footer_list {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .footer_list.is_show {
    max-height: 250px;
    overflow: visible;
  }

  .footer .title {
    display: flex;
    justify-content: space-between;
  }
  .footer_area .col:not(:last-child) .title::after {
    display: block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-image: url(../images/sp_icons.png);
    background-repeat: no-repeat;
    background-size: 340px 28px;
    background-position: -236px -2px;
    transition: rotate 0.3s ease;
    content: '';
  }

  .footer_area .col:not(:last-child) .title.is_show::after {
    rotate: 180deg;
  }

  .copyright_wrap,
  .copyright_box {
    flex-direction: column-reverse;
  }

  .copyright_wrap {
    padding: 24px 0;
  }

  .copyright_box {
    margin-top: 32px;
  }

  .copyright {
    margin: 28px 0 0;
    padding-right: 0;
    border-right: none;
  }

  .copyright_text-wrap {
    display: flex;
    margin-top: 0;
  }

  .copyright_text {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #fefefe;
    line-height: 1.666667;
  }

  .copyright_text + .copyright_text {
    margin-left: 28px;
  }

  .payment_wrap {
    --space: calc((100% - 6 * 48px) / 5);
    width: 100%;
    gap: var(--space);
  }
}

